@import 'tailwindcss';

@theme {
  --spacing: 4px;
}

@theme inline {
  --font-sans: var(--font-pretendard), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant non-touchscreen-hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @slot;
    }
  }
}

@layer base {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: theme('colors.black');
    background: linear-gradient(to bottom, transparent, theme('colors.white'))
      theme('colors.gray.300');
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }

    body {
      color: theme('colors.white');
      background: linear-gradient(to bottom, transparent, theme('colors.black'))
        theme('colors.black');
    }
  }
}
